<div class="d-flex justify-content-center align-items-center">
  <div
    class="d-flex flex-column justify-content-center align-items-center my-3 col-lg-6 col-md-8 col-12"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center w-100 gap-2 py-3 border border-4 border-dark bg-danger shadow"
    >
      <h2 class="text-center">UNETE A NUESTRA COMUNIDAD</h2>
      <div
        class="d-flex flex-column flex-xl-row justify-content-center align-items-center gap-3 w-100"
      >
        <button
          class="btn text-dark btn-lg border-2 border-black"
          [ngClass]="{
            'btn-success': isStudentSelected(),
            'btn-outline-success': !isStudentSelected()
          }"
          (click)="selectOption('STUDENT')"
        >
          ESTUDIANTE
        </button>
        <button
          class="btn text-dark btn-lg border-2 border-black"
          [ngClass]="{
            'btn-success': isTeacherSelected(),
            'btn-outline-success': !isTeacherSelected()
          }"
          (click)="selectOption('TEACHER')"
        >
          PROFESOR
        </button>
      </div>
    </div>
    @if(selectedForm === 'STUDENT'){
    <app-student-form
      class="w-100 border border-top-0 border-4 border-dark shadow"
    ></app-student-form>
    } @if(selectedForm === 'TEACHER'){
    <app-teacher-form
      class="w-100 border border-top-0 border-4 border-dark shadow"
    ></app-teacher-form>
    }
  </div>
</div>
