<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Footer Profesores Particulares de Howards</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>Footer Plataforma</title>
    

</head>

<body>
    <!-- Contenido principal de la página -->

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Sobre Nosotros</h3>
                <p>"Nuestra escuela es el puente entre tu potencial mágico y el conocimiento de los
                    mejores profesores de Howards. Aprende hechizos, pociones y mucho más a tu ritmo, con clases por
                    horas adaptadas a tus necesidades.
                    "Descubre y domina la magia que hay en tu interior con un simple clic. ¡Reserva ahora!" </p>
            </div>
            <div class="footer-column">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="/teachers">Buscar Profesores</a></li>
                    <li><a href="/como-funciona">Cómo Funciona</a></li>
                    <li><a href="/testimonios">Testimonios</a></li>
                    <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                    <li><a href="/recursos-educativos">Recursos Educativos</a></li>
                    <li><a href="/eventos">Eventos</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contacto</h3>
                <ul>
                    <li>Tel: +34 123 456 789</li>
                    <li><a href="mailto:contacto@howardsprofesores.com">contacto&#64;howardsprofesores.com</a>
                    </li>
                    <li>Dirección: Calle de los Hechizos, 26 CP 61997, Madrid</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Howards Profesores | Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>