* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: "Open Sans", sans-serif
}

footer {
    background-color: #00001B;
    padding: 40px 20px;
    color: white;
    text-align: center;
    border-top: 4px solid #D4A017;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex-basis: 22%;
    margin-bottom: 20px;
}

.footer-column h3 {
    color: #D4A017;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column p {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #D4A017;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons a i {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
    color: white;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 20px;
    background-color: #D4A017;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    color: white;
}

.footer-bottom p {
    margin: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        flex-basis: 100%;
        text-align: center;
    }

    .social-icons a {
        margin: 0 5px;
    }
}