@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.my-2{
    font-family: "Open Sans", sans-serif;
}
.btn{
    border: none;
    background-color: #D4A017;
    opacity: 100;
    color: black;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.container h2{
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; /* Aumentar el tamaño de fuente */
    color: white;
}

.container{
    background-image: url(media/fondo.jpg);
    background-size: cover;
    flex-direction: column;
}

.switch-role {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.switch-role a{
  color: #D4A017;
}

label{
    color: white;
    text-transform: uppercase;
}