<form
  [formGroup]="modelForm"
  (ngSubmit)="signUp()"
  class="d-flex flex-column p-3 w-100  shadow"
>
  <div class="my-2">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" id="name" class="form-control" formControlName="name" />
    @if(checkControl('name', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
    @if(checkControl('name', 'minlength')){
      <p class="error pt-2">La longitud minima del nombre tiene que ser 3 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="lastNames" class="form-label">Apellidos</label>
    <input type="text" id="lastNames" class="form-control" formControlName="lastNames" />
    @if(checkControl('lastNames', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
    @if(checkControl('lastNames', 'minlength')){
      <p class="error pt-2">La longitud minima del apellido tiene que ser 3 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="lastNames" class="form-label">NºTelefono</label>
    <input type="text" id="phone" class="form-control" formControlName="phone" />
    @if(checkControl('phone', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
    @if(checkControl('phone', 'minlength')){
      <p class="error pt-2">La longitud mínima del teléfono es de 9 caracteres</p>
    }
    @if(checkControl('phone', 'maxlength')){
      <p class="error pt-2">La longitud máxima del teléfono es de 9 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="avatar" class="form-label">AVATAR</label>
    <input
      type="file"
      class="form-control"
      formControlName="avatar"
      id="avatar"
      accept="image/*"
      (change)="onFileSelected($event)"
    />
    @if(checkControl('username', 'minlength')){
      <p class="error pt-2">La longitud minima del nombre de usuario es de 3 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      placeholder="example@gmail.com"
      id="email"
      class="form-control"
      formControlName="email"
    />
    @if(checkControl('email', 'pattern')){
      <p class="error pt-2">El formato del email es incorrecto</p>
    }
    @if(checkControl('email', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
  </div>
  <div class="my-2">
    <label for="username" class="form-label">Nombre de usuario</label>
    <input type="text" id="username" class="form-control" formControlName="username" />
    @if(checkControl('username', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
    @if(checkControl('username', 'minlength')){
      <p class="error pt-2">La longitud minima del nombre de usuario es de 3 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" class="form-control" formControlName="password" >
    @if(checkControl('password', 'required')){
      <p class="error pt-2">El campo es requerido</p>
    }
    @if(checkControl('password', 'minlength')){
      <p class="error pt-2">La longitud minima de la contraseña es de 8 caracteres</p>
    }
  </div>
  <div class="my-2">
    <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
    <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
  </div>
  <button
    type="submit"
    class="btn btn-success my-2 btn-lg mx-auto"
    [disabled]="!modelForm.valid"
  >
    REGISTRARSE
  </button>
  <p class="switch-form">¿Ya tienes una cuenta? <a [routerLink]="['/sign-in']" id="show-teacher-register">Inicia sesión</a></p>
</form>
