.funciona-container {
    margin: 0 auto;
    padding: 20px 100px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-image: url(media/fondo.jpg);
  }
  
  .funciona-container h1 {
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 100px;
    font-family: "Cinzel", serif;
  }

  .funciona-container h2{
    color: white;
    margin-bottom: 80px;
    margin-top: 30px;
    font-size: 25px;
  }
  
  .paso-funcionamiento {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.865);
  }
  
  .paso-funcionamiento h3 {
    margin: 0 0 10px;
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
  
  .paso-funcionamiento p {
    font-size: 1.1rem;
    color: #555;
  }
  

  @media screen and (max-width:768px){
    .funciona-container{
      padding: 20px 40px;
    }
  }
