<div class="d-flex flex-column gap-4 justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-sm-start w-100 pt-3">
    <h2 class="m-0">LISTADO DE PROFESORES</h2>
    <hr />
  </div>
  <div
    class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3 w-100"
  >
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Ramas de conocimiento
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Matemáticas</a></li>
        <li><a class="dropdown-item" href="#">Física</a></li>
        <li><a class="dropdown-item" href="#">Lengua</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Precio/Hora
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">7€</a></li>
        <li><a class="dropdown-item" href="#">8€</a></li>
        <li><a class="dropdown-item" href="#">10€</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Experiencia
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">1 año</a></li>
        <li><a class="dropdown-item" href="#">2 año</a></li>
        <li><a class="dropdown-item" href="#">3 año</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Puntuación
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">6</a></li>
        <li><a class="dropdown-item" href="#">7</a></li>
        <li><a class="dropdown-item" href="#">8</a></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
    <app-profile-preview></app-profile-preview>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
