<div class="d-flex flex-column gap-4 justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-sm-start w-100 pt-3">
    <h2 class="m-0">LISTADO DE PROFESORES</h2>
    <hr />
  </div>
  <div
    class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3 w-100"
  >
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Ramas de conocimiento
      </button>
      <ul class="dropdown-menu">
        <div *ngFor="let kb of knowledgeBranches">
          <li><a class="dropdown-item pointer">{{kb.name}}</a></li>
        </div>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Precio/Hora
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">7€</a></li>
        <li><a class="dropdown-item" href="#">8€</a></li>
        <li><a class="dropdown-item" href="#">10€</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Experiencia
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">1 año</a></li>
        <li><a class="dropdown-item" href="#">2 año</a></li>
        <li><a class="dropdown-item" href="#">3 año</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Puntuación
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">6</a></li>
        <li><a class="dropdown-item" href="#">7</a></li>
        <li><a class="dropdown-item" href="#">8</a></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <div *ngFor="let teacher of teachers">
      <app-teacher-card
        [id]="teacher.id"
        [name]="teacher.name"
        [lastNames]="teacher.last_names"
        [knowledgeBranches]="teacher.knowledge_branches"
        [price]="teacher.price_hour"
        [image]="teacher.image"
      ></app-teacher-card>
    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <!-- Botón "Anterior" -->
        <li
          class="page-item"
          [class.disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)">
          <a class="page-link pointer">Previous</a>
        </li>

        <!-- Botones de páginas -->
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="page === currentPage"
          (click)="changePage(page)">
          <a class="page-link pointer">{{ page }}</a>
        </li>

        <!-- Botón "Siguiente" -->
        <li
          class="page-item"
          [class.disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)">
          <a class="page-link pointer">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
