<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-wrap gap-3 mt-4 w-100">
    <div class="w-100">
      <h2>¿Quieres aprender de los mejores hechiceros del mundo? Cada mago legendario empezó como un estudiante
        decidido. Nuestros profesores te guiarán en un viaje mágico para descubrir tus poderes ocultos.
        <a [routerLink]="['/sign-up']">¡Inscríbete ahora!</a>
      </h2>
      <hr />
    </div>
  </div>

  <div class="my-2 p-4 w-100 text-dark bg-light border border-4 border-black shadow">
    <h2>PROFESORES MEJOR VALORADOS</h2>
    <hr />
    <div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
      <div *ngFor="let teacher of teachers">
        <app-teacher-card [id]="teacher.id" [name]="teacher.name" [lastNames]="teacher.last_names"
          [knowledgeBranches]="teacher.knowledge_branches" [price]="teacher.price_hour" [image]="teacher.image">
        </app-teacher-card>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3">
      <a class="btn btn-success text-dark btn-lg w-25 border-2 border-black" [routerLink]="['/teachers']">
        VER TODOS
      </a>
    </div>
  </div>

  <div class="d-flex flex-wrap gap-3 mt-4 w-100">
    <div class="w-100">
      <h2>PROFESORES CERCA DE TI</h2>
      <hr />
    </div>
    <div class="d-flex flex-row gap-3">
      <div>
        <h4>Selecciona el radio de búsqueda</h4>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ distance }} KM
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="selectDistance(1)">1 KM</a></li>
          <li><a class="dropdown-item" (click)="selectDistance(2)">2 KM</a></li>
          <li><a class="dropdown-item" (click)="selectDistance(3)">3 KM</a></li>
          <li><a class="dropdown-item" (click)="selectDistance(4)">4 KM</a></li>
          <li><a class="dropdown-item" (click)="selectDistance(5)">5 KM</a></li>
          <li><a class="dropdown-item" (click)="selectDistance(10)">10 KM</a></li>
        </ul>
      </div>
    </div>

    <div class="p-0 my-3 w-100 border border-4 border-black shadow">
      <app-map [range]="distance"></app-map>
    </div>
  </div>

  <footer class="mt-4 w-100 bg-light text-dark p-4 border-top border-4 border-black">
    <div class="footer-container">
      <div class="footer-column">
        <h5>Sobre Nosotros</h5>
        <p>"Nuestra escuela es el puente entre tu potencial mágico y el conocimiento de los mejores profesores de
          Howards. Aprende hechizos, pocio
          nes y mucho más a tu ritmo, con clases por horas adaptadas a tus necesidades.
          Descubre y domina la magia que hay en tu interior con un simple clic. <a [routerLink]="['/sign-up']">¡Reserva
            ahora!</a></p>
      </div>
      <div class="footer-column">
        <h5>Enlaces Rápidos</h5>
        <ul>
          <li><a [routerLink]="['/teachers']">Buscar Profesores</a></li>
          <li><a [routerLink]="['/como-funciona']">Cómo Funciona</a></li>
          <li><a [routerLink]="['/testimonios']">Testimonios</a></li>
          <li><a [routerLink]="['/preguntas-frecuentes']">Preguntas Frecuentes</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h5>Contacto</h5>
        <ul>
          <li>Tel: +34 123 456 789</li>
          <li><a href="mailto:contacto@howardsprofesores.com">contacto&#64;howardsprofesores.com</a></li>
          <li>Dirección: Calle de los Hechizos, 26 CP 61997, Madrid</li>
        </ul>
      </div>
      <div class="footer-column">
        <h5>Síguenos</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Howards Profesores | Todos los derechos reservados</p>
    </div>
  </footer>
</div>