<p>Usuario que se pide el preview: {{userToPreviewId}}</p>
<div class="perfil-contenedor">
    <!-- Información básica a la izquierda -->
    <section class="profesor-info">
        <div class="w-100" style="height: 25vh;">
            <img src="{{teacherData?.image}}" class="w-100 h-100 object-fit-contain" alt="Imagen profesor">
        </div>
        <h1 *ngIf="teacherData !== undefined" class="profesor-nombre">
            {{teacherData.name}} {{teacherData.last_names}}
        </h1>

        <div class="d-flex flex-column gap-2 w-100">
            <div class="d-flex flex-column gap-2 text-center mb-2">
                <h3 class="profesor-ramas">
                    <!-- Mostrar las ramas de conocimiento -->
                    {{ getKnowledgeBranches().join(", ") }}
                </h3>
                <p class="profesor-precio">
                    <strong>Asignatura:</strong> {{teacherData?.knowledge_branches}}
                </p>
                <p class="profesor-precio">
                    <strong>Precio por hora:</strong> {{teacherData?.price_hour}}€
                </p>
                <p class="profesor-experiencia">
                    <strong>Años de experiencia:</strong> {{teacherData?.description}} <!-- Aquí puedes poner un campo adecuado si tienes los años -->
                </p>
                <p class="profesor-puntuacion">
                    <strong>Puntuación:</strong> 4.8/5 <!-- Si tienes puntuaciones reales, puedes vinculadas con un valor -->
                </p>
            </div>
        </div>
    </section>

    <!-- Detalles adicionales a la derecha -->
    <section class="profesor-detalles">
        <!-- Acerca del profesor -->
        <div class="profesor-descripcion">
            <h2>Acerca del profesor</h2>
            <!-- Descripción del profesor -->
            <p class="descripcion">{{teacherData?.description}}</p> <!-- Puedes agregar una descripción más detallada si es necesario -->
        </div>

        <!-- Información adicional del profesor -->
        <div class="profesor-contacto">
            <h2>Información de contacto</h2>
            <p><strong>Teléfono:</strong> {{teacherData?.phone}}</p>
            <p><strong>Email:</strong> {{teacherData?.email}}</p>
            <p><strong>Ubicación:</strong> {{teacherData?.latitude}}, {{teacherData?.longitude}}</p>
        </div>

        <!-- Mostrar la información de la ubicación -->
        <div class="profesor-ubicacion">
            <h2>Ubicación</h2>
            <p><strong>Latitud:</strong> {{teacherData?.latitude}}</p>
            <p><strong>Longitud:</strong> {{teacherData?.longitude}}</p>
        </div>
    </section>
</div>
